* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;

}

img{
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1110px;

}

.none {
    display: none !important;
}

/* HEADER */

.header {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: #556983;
    background-image: url("img/header/header-bg.jpg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header-title {
    margin: 0;
    font-weight: 700;
    font-size: 56px;
    line-height: 130%;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 25px;
}

.header-subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    text-align: center;
}

.header-arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 48px;
    height: 48px;

}

/* PORTFOLIO */

.portfolio {
    padding-top: 80px;
    padding-bottom: 115px;

}

.portfolio-header {
    margin: 0;
    margin-bottom: 70px;
    font-weight: 700;
    font-size: 46px;
    line-height: 130%;
    text-align: center;
    color: #000;
}

.card {
    margin-bottom: 30px;
    background-color: #fff;
    max-width: 540px;
    box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
    transition: transform 0.2s ease-in;
}

.card:hover{
    transform: translateY(-15px);
}

.card:last-child,
.card:nth-last-child(2) {
    margin-bottom: 0;

}

.card-img {
    margin-bottom: 20px;
}

.card-link{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 20px;
    transition: color 0.2s ease-in;
}

.card-link:hover{
    color: rgb(39,91,236);
}

.card-title {
    margin-bottom: 13px;
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    
}

.card p {
    font-size: 16px;
    line-height: 130%;
    
    margin: 0;
}

.portfolio-cards-wrapper {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

/* FOOTER */

.footer {
    color: white;
    background: #556983;
    padding-top: 45px;
    padding-bottom: 130px;
}

.footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-copyright {
    color: #7e9ec9;
}

.footer-copyright-name {
    font-weight: bold;
    font-size: 28px;
    line-height: 130%;
    margin-bottom: 15px;
}

.footer-copyright p {
    max-width: 350px;
    margin: 0;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}

.footer-icons {
    max-width: 350px;
}

.footer-icons-row {
    display: flex;
    align-items: center;
}

.footer-icons p {
    font-weight: 600;
    font-size: 16px;
    line-height: 130%;
}

.footer-icons-row>*+* {
    margin-left: 30px;
}

.footer-contacts {
    max-width: 350px;
}

.footer-button {
    height: 50px;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 50px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 44px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

.footer-button:hover{
    background-color: white;
    color: #275BEC;
}

.footer-contacts p {
    margin: 15px 0;
    font-size: 16px;
    line-height: 130%;
    color: #7e9ec9;
}

/* PROJECT */

.project{
    padding-top: 80px;
    padding-bottom: 120px;
    text-align: center;
}

.project-header{
    margin: 0;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 46px;
    line-height: 130%;
}

.project-img{
    margin-bottom: 70px;
}

.project-description{
    max-width: 730px;
    margin-bottom: 60px;
    margin: 0 auto;
}

.project-description p{
    
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}

.project-button-back{
    height: 60px;
    display: inline-block;
    border: 3px solid #275BEC;
    border-radius: 50px;
    color: #275BEC;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 54px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.project-button-back:hover{
    background-color: #275BEC;
    color: #fff;
}

